/* dashboard style */

.breadcrumb__inner > p {
    font-weight: bold;
}

.breadcrumb__inner {
    padding-bottom: 6px;
}

.page__title {
    padding: 10px 8px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.wrap-profile {
    padding: 10px 10px;
    border-top: 1px solid #ddd;
}

.profile__avatar {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
}

.profile__avatar > img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
}

.profile__avatar .choose__img {
    position: absolute;
    background: #4a4a4a;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%);
    bottom: 0;
    left: 100px;
    z-index: 2;
    line-height: 52px;
    cursor: pointer;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__avatar .choose__img > img {
    width: 25px;
    height: 20px;
}

.profile__avatar .choose__img  > input {
   opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.profile__item {
    margin-bottom: 10px;
}

.profile__item > h5 {
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 14px;
    color: #333;
}

.profile__item .info {
    position: relative;
}

.profile__item > a.delete-user {
    margin-bottom: 10px;
    display: block;
    color: #9b9b9b;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    font-size: 12px;
}

.profile__item .info >span {
    display: block;
    height: 35px;
    line-height: 35px;
    background: #eee;
    border-radius: 4px;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 40px;
}

.profile__item .info >span.no-data {
    color: #9b9b9b;
}

.profile__item .info > a img {
    height: 20px;
    width: 20px;
    opacity: .6;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.profile__item .info a.connect {
    background-color: #fe9900;
    color: #fff;
    border: none;
    outline: none;
    padding: 0 12px;
    border-radius: 4px;
    max-height: 24px;
    line-height: 2;
    font-size: 12px;

    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}



@media only screen and (max-width:991px) {
    .container {
        max-width: 750px;
    }
    .wrap__aside-no {
        display: none;
    }
}
    
@media only screen and (max-width:768px) {
    .pdd__sp-none {
        padding: 0px;
    }
    .wrap-profile {
        padding: 0px;
        border-top: 0;
        flex-direction: column;
    }
    .page__title{
        border-bottom: 0;
    }
    .profile__avatar {
        width: auto;
        margin: 0 auto;
    }
    .profile__avatar .choose__img {
        left: 80px;
    }
    .profile__inner {
        padding: 0px 20px;
        margin-top: 20px;
    }
    .profile__item > h5 {
        font-size: 12px;
    }
}