/* page tin đăng đã lưu style */
.breadcrumb__inner > span {
    width: 4px;
}

.breadcrumb__inner {
    margin-bottom: 0px;
}

.news__list {
    margin-top: 12px;
}

h1.number-post {
    font-size: 18px;
    font-weight: bold;
    padding: 0px 12px;
}

ul.news__list > li {
    padding: 12px;
    min-height: 124px;
    overflow: hidden;
    background-color: white;
    border-top: 1px solid #f4f4f4;
    margin: 1px 0;
    position: relative;
}

.news__list > li a {
    position: relative;
}

li a.new__post-link .thumb {
    margin-right: 12px;
}

a.new__post-link .thumb img {
    width: 100px;
    height: 100px;
    border-radius: 2px;
    object-fit: cover;
}

a.new__post-link .desc {
    flex: 1;

}

.news__list > li:hover {
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 30%);
    z-index: 1;
}

a.new__post-link .desc h3 {
    font-size: 15px;
    line-height: 1.33;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #222;
    display: -webkit-box;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    margin-bottom: 0px;
}

a.new__post-link .desc > span {
    display: block;
    font-size: 14px;
    color: #9b9b9b;
}

.new__post-link .desc > span.price {
    color: var(--main-color);
    font-weight: 700;
}

.new__item-bt {
    position: absolute;
    bottom: 12px;
    left: 124px;
    width: 100%;
    max-width: calc(100% - 130px);
}

.desc__bt li {
    font-size: 12px;
    color: #9b9b9b;
    padding-right: 6px;
    margin-right: 6px;
    position: relative;
}

.desc__bt li:last-child::after {
    content: none;
}

.desc__bt li::after {
    position: absolute;
    content: "";
    width:2px;
    height: 2px;
    border-radius: 50%;
    background-color: #9b9b9b;
    top: 45%;
    right: 0px;
}

.desc__bt li img {
    max-width: 12px;
    margin-right: 2px;
}

ul.contact__option li a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 80px;
    cursor: pointer;
    border: 1px solid rgb(51, 166, 55);
    border-radius: 20px;
    margin: 0px 6px;
    height: 30px;
    font-size: 14px;
    color: rgb(51, 166, 55);
}

ul.contact__option li a span {
    font-size: 14px;
}

.contact__option li a.link-to {
    color: rgb(255, 255, 255);
    border: 1px solid var(--main-color);
    border-radius: 20px;
    background: #fff;
    padding: 6px 10px;
    outline: none;
    margin: 0px 5px;
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color);
}

.savead-bt {
    padding:  6px;
    background-color:transparent;
    border: 0;
    outline: 0;
}

.savead-bt img {
    max-width: 16px;
}

.contact__option-sp {
    display: none;
}

@media only screen and (max-width:991px) {
    .container {
        max-width: 750px;
    }
    .contact__option > li {
        display: none;
    }
    .desc__bt li {
        font-size: 11px;
        white-space: nowrap;
    }
    .desc__bt li:first-child > span {
        display: none;
    }
    a.new__post-link .thumb img {
        width: 108px;
        height: 108px;
    }
    .new__item-bt {
        top: 100px;
        left: 132px;
        bottom: unset;
        padding-right: 10px;
    }
    .savead-bt {
        padding: 2px 4px;
    }
    .contact__option-sp {
        margin: 12px auto 0px;
        max-width: 420px;
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .contact__option-sp a {
        line-height: 36px;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: rgb(51, 166, 55);
    }

    .contact__option-sp a  img {
        width: 21px;
        margin-right: 6px;
    }
    .contact__option-sp a.link-to {
        margin-top: 12px;
        width: 100%;
        background-color: var(--main-color);
        color: #fff;
        line-height: 28px;
        border-radius: 4px;
        justify-content: center;
    }
}

@media only screen and (max-width:768px) {
    .breadcrumb__inner {
        margin-left: 12px;
    }
}